:root {
  --nav-background-color: #b11226;
  --nav-text-color: #fff;
  --nav-underline-color: #fff;
  --search-btn-input-color: #fff;
  --search-btn-input-background: transparent;
  --input-placeholder-color: #fff;
  --search-border-color: #fff;
  --default-background: #b11226;
}
.header {
  width: 72em;
  height: 3.7em;
  display: flex;
  align-items: center;
  background-color: var(--nav-background-color);
  padding: 0 10%;
  color: var(--nav-text-color);
}
.logo {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Ranchers", cursive;
  background-color: var(--default-background);
}
nav {
  position: absolute;
  background-color: var(--default-background);
  height: 11%;
  bottom: 95%;
  left: 30%;
}
.list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 30em;
  margin: 4em;
  padding: 0;
  background-color: var(--default-background);
}
.nav_item {
  text-decoration: none;
  position: relative;
  padding: 0.3em 0;
  background-color: var(--default-background);
  color: var(--nav-text-color);
}
.nav_item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: var(--nav-underline-color);
  transition: width 0.3s ease-in-out;
}
.nav_item:hover:after {
  width: 100%;
}
.nav_item:hover {
  opacity: 0.8;
}
.search {
  width: 14em;
  height: 3em;
  position: absolute;
  top: 60%;
  left: 95%;
  display: flex;
  justify-content: flex-start;
  border-radius: 0.4em;
}
.btn,
.input {
  background-color: var(--search-btn-input-background);
  border: none;
  outline: none;
  color: var(--search-btn-input-color);
}
.input::placeholder {
  color: var(--input-placeholder-color);
}
.search:focus-within {
  border: 1px solid var(--search-border-color);
}
