:root {
  --section-title-color: #fff;
}
.section_title {
  color: var(--section-title-color);
  font-size: 25px;
  margin: 1em 3em;
}
.movie_container {
  padding: 0 50px;
  width: 1400px;
  display: flex;
  overflow-x: scroll;
}
